.chat__main__messages__message-box
  .chat__main__messages__message-box__message      
    .chat__main__messages__message-box__message__upper-info 
      samplegroup
    .chat__main__messages__message-box__message__date
      2019/10/27
  .chat__main__messages__message-box__text
    samplemessage